name: echo-workflow

on:
  issues:
    types:
      - opened

jobs:
  label_issue:
    runs-on: ubuntu-latest
    steps:
      - name:
          Get Project metadata
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_URL: ${{ github.event.issue.html_url }}
        run: |
          gh issue edit $ISSUE_URL --add-label "triage"
          echo "poszlo"

      - name:
          Do something
        run: |
          echo "koniec"

  echoer:
      runs-on: ubuntu-latest
      steps:
        - name: Dump GitHub context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: |
            echo "$GITHUB_CONTEXT"
        - name: issue
          env:
            GITHUB_CONTEXT: ${{ toJson(github.event.issue) }}
          run: |
            echo "$GITHUB_CONTEXT"            
